<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/formstyles.css">
</head>
<body>

    <form class="formstyle">
        <div>
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" required>
        </div>

        <div class="error firstnameerror" ></div>

        <div>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" required>
        </div>

        <div class="error lastnameerror"></div>

        <div>
            <label for="username">User Name</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="error usernameerror"></div>
        
        <div>
            <label for="email">Email</label>
            <input type="text" name="email"  placeholder="email@email.com" required>
        </div>

        <div class="error emailerror"></div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </div>

        <div class="error passworderror"></div>
       

        <button class="buttonstyle"> <span style="color: white;">SignUp</span></button>
    </form>
 <script>
    const form = document.querySelector('.formstyle') //action="/signup"

    form.addEventListener('submit', async (e)=>{
        e.preventDefault()
        //getting the data from the form 
        const firstname = form.firstname.value
        const lastname = form.lastname.value
        const username = form.username.value
        const email = form.email.value
        const password = form.password.value
        const url = "/signup"
       console.log(firstname, lastname)

       try{
            const res = await fetch ('/signup',
                {
                    method:"POST",
                    body:JSON.stringify({
                        "firstname" : firstname,
                        "last name" : lastname,
                        "username" : username,
                        "email" : email,
                        "password" : password,
                    }),
                    headers:{'content-type': 'application/json'},    
                }

            )
       }
       catch(err){
            console.log(err)
       }
    })
 </script>

</body>
</html>